.container {
   width: 80%;
   margin: auto;
}

.btn {
   float: right;
   padding: 5px 8px;
   border: none;
   outline: none;
   cursor: pointer;
   background: #CCC;
   opacity: .5;
   transition: .2s;
}

.btn:hover {
   opacity: 1;
}